<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="starter-template">
        <h1 th:text="${status}  + '  : ' + ${error}"></h1>
        <h1 >403</h1>
        <div th:inline="text">Hello '[[${#httpServletRequest.remoteUser}]]', 
                <a th:text="${message}"></a></div>
    </div>

</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>